body 
{
  font-family: Arial, Helvetica, sans-serif; 
  margin:0;
}

.navbar 
{
  overflow: hidden;
  background-color: #333;
}

.navbar a
{
  margin:5;
  float:right;
  font-size: 17px;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
.navbar a:hover, .go:hover .down
{
  background-color:grey;
}
	    #container
		{
            position:absolute;
			visibility:hidden;
		    background-color:orange;
			margin-top:50px;
		    margin-left:300px;
		    width:50%;
			background-color:orange;
			border-radius:8px;
			visibility:hidden;
		}
		#cot
		{   
		    margin-top:50px;
		    position:absolute;
			visibility:hidden;
			margin-left:300px;
		    background-color:orange;
		    width:50%;
			border-radius:8px;
		}
		#cot2
		{   
		    margin-top:50px;
		    position:absolute;
			visibility:hidden;
			margin-left:300px;
		    background-color:orange;
		    width:50%;
			border-radius:8px;
		}
		#req{
		margin-top:50px;
		position:absolute;
		visibility:hidden;
		margin-left:300px;
		background-color:orange;
		width:50%;
		border-radius:8px;
		}
		label
		{
			padding:20px;
			display: inline-block;
			font-size:17px;
			font-family:Arial, sans-serif;
			color:black;
		}
		input[type=text],select, textarea ,input[type=date],input[type=time]
		{
			width: 150px;
			background-color:#7CFC00;
			padding: 12px;
			border: 1px solid #ccc;
			border-radius: 4px;
			resize:vertical;
			margin-left:40px;
		}
		input[type=submit]
		{
			background-color:yellow;
			font-size:15px;
			color:black;
			border:none;
			padding:10px;
			border-radius:8px;
			font-family:Arial, sans-serif;
			margin-left:10%;
		}
        input[type=submit]:hover{
			background-color:red;
			color:grey;
		}
</style>		